body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  color: #000;
  background: #ffffff;
  text-align: center;
}

section {
  padding: 60px 20px;
}

.hero {
  position: relative;
  padding-top: 120px;
}

.flowers-top  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 600;
}

.date {
  margin-top: 20px;
  color: #b30000;
  letter-spacing: 6px;
  font-size: 22px;
}

.quote {
  margin-top: 20px;
  font-size: 18px;
}

#timer {
  margin-top: 25px;
  font-size: 20px;
  color: #b30000;
}

.flowers-bottom {
  max-width: 350px;
  margin: 20px auto;
  display: block;
}

.welcome {
  font-family: 'Great Vibes', cursive;
  font-size: 32px;
  margin: 20px 0 40px;
}

h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  margin-top: 40px;
}

.final {
  color: #b30000;
  font-family: 'Great Vibes', cursive;
  font-size: 32px;
  margin-top: 40px;
}

.map iframe {
  width: 100%;
  height: 350px;
  border: 0;
  margin-top: 20px;
}

/* Responsive */
@media (max-width: 768px) {
  .hero-content h1 { font-size: 34px; }
  .date { font-size: 18px; }
  .welcome, .final { font-size: 26px; }
  h2 { font-size: 24px; }
  #timer { font-size: 18px; }
}
